<!-- include header -->
<%-include('include/_header')%>

<main>
    <div>
        <i class="fas fa-angle-double-left"></i>
        <a href="/">Products list</a>
    </div>
    
    <h2>New product</h2>
    
    <!-- include form_product -->
    <%-include('include/_form_product')%>
</main>

<!-- include footer -->
<%-include('include/_footer')%>