<form action="/api/products" id="add_product" method="POST">
    <div class="new_product">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="The name of the product">
        </div>
        
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" value="" placeholder="The description of the product">
        </div>

        <div class="form-group">
            <label for="Price">Price</label>
            <input type="number" id="price" name="price" min="1" max="5000">
        </div>
        
        <div class="form-group">
            <label for="Quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5000">
        </div>

        <div class="form-group">
            <label for="Rating">Rating (between 1 and 5):</label>
            <input type="number" id="rating" name="rating" min="1" max="5">
        </div>

        <div class="form-group">
            <button type="submit">Save</button>
        </div>
    </div>
</form>